.input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
}
.input.invalid-input {
  border-color: #dc3545;
}
.input.invalid-input:focus {
  box-shadow: rgba(220, 53, 69, 0.5) 0px 0px 0.25rem 4px;
}
.label {
  font-weight: 600;
  display: block;
}
.invalid-feedback {
  font-size: 0.875rem;
  color: #f44336;
}
